.multiselect {
	width: 200px;
}
	
.selectBox {
	position: relative;
}
	
.selectBox select {
	width: 100%;
}
	
.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
	
#checkboxes {
	position: absolute;
	background-color: #ffffff;
	width: inherit;
	display: none;
	border: 1px #dadada solid;	 
}
	
#checkboxes label {
	display: block;
}

#checkboxes label:hover {
 	background-color: #1e90ff;
}

.divFilter{
	position: fixed;
	top: 15%;
	left: 40%;
}

.tableNewsList{
	width: 100%;	
}

.trNewsList{
	height: 150px;
}

.tableNews{
	width: 100%;
}

.trNews{
	height: 45px;
}

.textTitle{
	font-weight: bold;
	font-size: 25px;
}

.textDate{
	width: 10%;
	text-align: right;
	text-decoration: underline;
}

.textShortText{
	font-size: 20px;
	font-style: italic;
}

.textTags{
	width: 40%;
	font-size: 18px;
	color: gray;	
	text-align: left;
}

.tdEmpty{
	width: 40%;
}

.textComments{
	text-align: left;
	width: 10%;	
}

.textView{
	text-align: right;
	width: 10%;
}

.textLink{	
	color: black;
}

.textLink:HOVER {
	color: blue;
}

.divPagination{
	left: 3%;
	right: 3%;
	width: 94%;
	height: 60px;
	background: #DCDCDC;
	bottom: 10%;	
	position: fixed;
}

.tablePagination{
	margin-bottom: 15px;
	margin-top: 15px;
}

.textCurrentPage{	
	text-decoration: none;
	user-select: none;
	outline: none;
	color: white;
	background: #696969;
}

.divBack{
	position: fixed;
	left: 2%;
	top: 12%;	
	text-decoration: underline;
}

.tableSingleNews{
	position: fixed;
	left: 5%;
	right: 5%;
	top: 17%;
	width: 90%;
}

.trSingleNews{
	height: 80px;
}

.textSingleNewsTitle{
	font-size: 30px;
	font-weight: bold;
}

.textSingleNewsFullText{
	position: fixed;
	font-size:  20px;
	left: 5%;
	right: 10%;
}

.tableComments{
	position: fixed;
	width: 30%;
	left: 6%;
	
}

.trComment{
	height: 70px;	
}

.tdComment{
	line-height: 0.5;
}

.textDateComment{
	line-height: 0.5;
	text-align: left;
	text-decoration: underline;
}

.textComment{
	position: relative;
	left: 3%;
	line-height: 0.9;
	padding: 8px;
	width: 100%;
	background: #c0c0c0;
}

.inputCommentText{
	text-align: left;
	position: relative;
	width: 107%;
	height: 70px;
	position: relative;
}

.tableHeader{
	width: 100%;
}

.tableMainTemplate{
	height: 100%;
	width: 100%;
	border: solid;
	border-collapse: collapse;
}

.tdHeaderMainTemplate{
	height: 10%;
	border-style: solid;
}

.tdBodyMainTemplate{
	height: 86%;
	border-style: solid;
}

.tdFooterMainTemplate{
	height: 4%;	
	border-style: solid;	
}

.tablePrevNext{
	position: fixed;
	bottom: 6%;
	left: 2%;
	width: 96%;	
}

.error{
	color: red;
}