.tableLoginTemplate{
	height: 100%;
	width: 100%;
	border: solid;
	border-collapse: collapse;
}

.tdHeaderLoginTemplate{
	height: 10%;
	border-style: solid;
}

.tdBodyLoginTemplate{
	height: 86%;
	border-style: solid;
}

.tdFooterLoginTemplate{
	height: 4%;	
	border-style: solid;	
}

.tableHeader{
	width: 100%;
}

.tableLogin{
	position: fixed;
	left: 40%;
	top: 40%;
}
.inputTextLoginTable{
	width: 100%;
}

.tableMainTemplate{
	height: 100%;
	width: 100%;
	border: solid;
	border-collapse: collapse;
}

.tdHeaderMainTemplate{
	width: ;
	height: 10%;
	border-style: solid;
}

.tdMenuMainTemplate{
	position: fixed;
	top: 11.85%;
	left: 1%;
	height: 20%;
	width: 25%;
	border-top: dotted;	
	border-bottom: dotted;
}

.tdBodyMainTemplate{
	height: 84%;
	width: 75%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.tdFooterMainTemplate{
	height: 4%;	
	border-style: solid;	
}

.divMenu{
	background: #c0c0c0;
	width: 100%;
	height: 100%;	
}

.tableMenu{
	background: white;
	width: 80%;	
	height: 100%;
	margin-left: 10%;
	margin-right: 10%;	
}
.tdMenu{
	padding-left: 10%;
	text-decoration: underline;	
}

.divNewsList{
	border: dotted;
	width: 100%;
	height: 100%;
}

.multiselect {
	width: 200px;
}
	
.selectBox {
	position: relative;
}
	
.selectBox select {
	width: 100%;
}
	
.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
	
#checkboxes {
	position: absolute;
	background-color: #ffffff;
	width: inherit;
	display: none;
	border: 1px #dadada solid;	 
}
	
#checkboxes label {
	display: block;
}

#checkboxes label:hover {
 	background-color: #1e90ff;
}

.divFilter{
	position: fixed;
	top: 15%;
	left: 40%;
}

.tableNewsList{
	margin-top: 10%;
	margin-left: 2%;
	width: 95%;	
}

.trNewsList{
	height: 150px;
}

.tableNews{
	width: 100%;
}

.trNews{
	height: 45px;
}

.textTitle{
	font-weight: bold;
	font-size: 25px;
}

.textDate{
	width: 10%;
	text-align: right;
	text-decoration: underline;
}

.textShortText{
	font-size: 20px;
	font-style: italic;
}

.textTags{
	width: 50%;
	font-size: 18px;
	color: gray;	
	text-align: left;
}

.tdEmpty{
	width: 25%;
}

.textComments{
	text-align: left;
	width: 15%;	
}

.textView{
	text-align: right;
	width: 10%;
}

.divPagination{	
	position: absolute;
	padding-left: 300px;
	padding-top: 23px;
	padding-bottom: 23px;
	width: 618px;	
	top: 795px;
	background: #DCDCDC;	
}

.tablePagination{
	position: relative;
	top: 30%;
}

.textCurrentPage{
	border: 1px solid;
	padding: 4px;
	text-decoration: none;
	user-select: none;
	outline: none;
	color: white;
	background: #696969;
}

.textAddNews{
	font-weight: bold;
	padding-top: 30px;
}

.tableAddNews{
	width: 70%;
	margin-top: 5%;
	margin-left: 5%;
}

.inputTitleAddNews{
	width: 100%;
}

.divBack{
	position: relative;
	left: 2%;
	top: 2%;	
	text-decoration: underline;
}

.tableSingleNews{
	position: relative;
	left: 5%;
	right: 5%;
	top: 50px;
	width: 90%;
}

.trSingleNews{
	height: 80px;
}

.textSingleNewsTitle{
	font-size: 30px;
	font-weight: bold;
}

.textDate{
	width: 10%;
	text-align: right;
	text-decoration: underline;
}

.textSingleNewsFullText{
	position: relative;
	left: 1%;
	font-size:  20px;
	right: 10%;
}

.tableComments{
	position: relative;
	top: 50px;
	width: 20%;
	left: 6%;
		
}
.trComment{
	width: 40%;
	height: 70px;	
}

.tdComment{
	width: 40%;
	line-height: 0.5;
}

.textDateComment{
	line-height: 0.5;
	text-align: left;
	text-decoration: underline;
}

.textComment{
	position: relative;
	left: 3%;
	line-height: 0.9;
	padding: 8px;
	width: 93%;
	background: #c0c0c0;
}

.inputCommentText{
	text-align: left;
	position: relative;
	width: 50%;
	height: 70px;
	position: relative;
}

.tablePrevNext{
	position: relative;	
	top: 50px;
	left: 10px;
	width: 97%;
	margin-bottom: 70px;
	vertical-align: top;	
}

.trCommentEdit{
	height: 30px;
}

.buttonDeleteComment{
	position: relative;
	left: 15px;
}

.tableAuthors{
	margin-bottom: 100px;
	position: relative;
	left: 5%;
	top: 4%;
	width: 70%;	
}

.trTableAuthors{
	height: 50px;
}

.trTableSave{
	height: 100px;
}

.inputTableAuthors{
	width: 400px;
}

.linkText{
	text-decoration: underline;
	color: black;
	cursor: pointer;	
}

.linkText:AFTER {
	color: black;
}

.buttonLikeLink{
	text-decoration: underline;
	border: 0px;
	background-color: transparent;
	cursor: pointer;
}

.trTableAuthorsError{
	height: 90px;
}

.error{
	color: red;
}

.textTitleLikeLink{
	font-weight: bold;
	font-size: 25px;
	color: black;
}

.textTitleLikeLink:AFTER {
	font-weight: bold;
	font-size: 25px;
	color: black;
}

.trPostCommentButton{	
	vertical-align: top;
}